.contect{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 40px;
    gap: 50px;
}
.anh img{
    width: 100%;
}
.tillet h2{
    padding-bottom: 10px;
}
strong{
    font-size: 30px;
}
.tillet p{
opacity: 0.5;
    /* width: 70%;
     */
font-size: 24px;
}
.tillet button{
  padding: 20px 30px;
  background-color: #0688fa;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
.tillet button a{
  text-decoration: none;
  color: white;
  font-size: 20px;

}
.tillet button:hover{
    background-color: #ffd500;
}