/* General styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-image: url("../img/carousel-1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: hsla(0, 0%, 0%, 0.7); */
    background-blend-mode: overlay;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  a {
    color: #007bff; /* Blue */
    text-decoration: none;
  }
  
  /* Header styles */
  header img {
    width: 100%;
    height: auto;
  }
  
  /* Main (form) styles */
  main form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    width: 300px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  