/* .container{
    width: 1270px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} */

.product-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    margin-top: 30px;
    gap: 20px;
  }
  
.product{
 
    padding-bottom: 20px;
    overflow: hidden;
}
.product:hover img {
    transform: scale(1.2);
    transition: 1s;
    
}
.product img{
    width: 100%;
    margin-bottom: 8px; 
   
}
.product .images{
    overflow: hidden;
    height: 320px;
}
.product h3{
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffd500 ;
    width: 120px;
    color: #000000;
}


.product p{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.product a{
    text-decoration: none;
    padding: 12px 20px ;
    background-color: #0688fa;
    border-radius: 20px;
    color: #fff;
    margin-left: 10px;
    
}
.product a:hover{
    background-color: #ffd500;
}